@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.content {
    background-color: rgba(49, 90, 168, 0.10);
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px 250px;
    padding: 20px;
    width: 1200px;
    max-height: 500px; /* Set a maximum height */
    overflow: auto; /* Add scrollbars if content overflows */ /* Menambahkan tinggi elemen */
}

.box{
    padding: 20px 20px;
    height: 300px;
}

.row h1{
    color: black;
    font-family: 'Poppins', sans-serif;
    padding: 30px 70px 30px 70px;
    text-transform: uppercase;
}
.row-2{
    padding: 5px 50px;
    justify-content: center;
    width: 890px;
    height: 90px; 
}

table{
    margin: 5px 10px 5px 20px;
    background-color:rgba(49, 90, 168, 0.10);
    width: 1000px;
    border: 1px solid black;
}
tr th {
    background-color: #315AA8;
    color: white;
    text-align: center;
}
td {
    background: #8aa8df1d;
    text-align: left;
    padding: 5px 10px 5px 10px;
    color: black;
    border: 1px solid black;
}

