@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  padding-left: 280px;
}

.box{
  margin: 50px 220px 50px 220px;
  display: inline-flex;
  width: 520px;
  height: 560px;
  background: linear-gradient(-90deg, #315AA8 0%, rgba(166, 115, 232, 0.44) 100%); 
  border-radius: 20px;
}

.form{
  padding: 30px 100px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  
}

input {
 border: none;
 outline: none;
 border-radius: 20px;
 padding: 8px 6px;
 width: 38vh;
}


input::placeholder{
  color: rgba(116, 113, 113, 0.787);
  text-transform: capitalize;
}

textarea{
  outline: none;
    padding: 20px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: #f8f8f8;
    font-size: 12px;
}

textarea::placeholder{
  color: rgba(116, 113, 113, 0.787);
  text-transform: capitalize;
}

button{
  background-color: #3E4556;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  width: 310px;
  height: 30px;
}
