@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Poppins&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content{
    margin: 20px 250px;
    width: 1200px;
    border: 1px solid black;
    background:  rgb(159, 164, 187);
    border-radius:15px;
    font-family: 'Poppins', sans-serif;
    color: white;
    
}   


.row-01{
    padding: 40px 50px 20px 5px;
    margin: 20px 50px 20px 50px;
}

button{
    border: 5px solid rgba(81, 82, 83, 0.283);
    padding: 5px 60px;
    margin: 20px 0px 10px 15px;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #315AA8;
    color: rgb(255, 255, 255);
}
button a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
}

.form-group {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;

}

.col-sm-4 {
    padding: 2px 10px;
    margin: 0px 10px 0px 0px;
    display: flex; /* Add this line to make items align horizontally */
    align-items: center; /* Center items vertically within the column */
}

.showPassword {
    position: relative;
    left: 10px; /* Add some left margin to separate the icon from the input */
    cursor: pointer;

}
/* 
input [type="password"]{
    height:20px;
    font-size: 10px;
    padding: 0px;
} */